/*
!.gitignore
!*-session.vim
!.zshenv
!.zlogin
!.zprofile
!.zshrc

!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/dotenv-setup.sh

!/.config
/.config/*
!/.config/wezterm
!/.config/nvim.balesz
!/.config/nvim.nvchad
!/.config/nvim.nvchad.custom
/.config/nvim.*/plugin/packer_compiled.lua

