/*
!.gitignore
!*-session.vim
!.zshenv
!.zlogin
!.zprofile
!.zshrc
!.tmux.conf

!/.local
/.local/*
!/.local/bin
/.local/bin/*
!/.local/bin/dotenv.sh

!/.config
/.config/*
!/.config/keyd
!/.config/via
!/.config/wezterm
!/.config/alacritty
!/.config/helix
/.config/helix/runtime
!/.config/zellij
!/.config/lazygit
/.config/lazygit/state.yml
!/.config/git
!/.config/lf
!/.config/nvim.balesz
!/.config/nvim.nvchad
!/.config/nvim.nvchad.custom
/.config/nvim.*/plugin/packer_compiled.lua
!/.config/ghostty
