swap_tiled_layout name="tiled" {
    tab max_panes=6 {
        pane split_direction="vertical" {
            pane
            pane split_direction="horizontal" { children; }
        }
    }
}

swap_tiled_layout name="stacked" {
    tab min_panes=6 {
        pane split_direction="vertical" {
            pane
            pane stacked=true { children; }
        }
    }
}

swap_floating_layout name="spread" {
    floating_panes max_panes=1 {
        pane { x "51%"; y "3%"; width "47%"; height "94%"; }
    }
    floating_panes max_panes=2 {
        pane { x "51%"; y "3%"; width "47%"; height "45%"; }
        pane focus=true { x "51%"; y "50%"; width "47%"; height "46%"; }
    }
    floating_panes max_panes=3 {
        pane { x "51%"; y "3%"; width "47%"; height "45%"; }
        pane { x "51%"; y "50%"; width "47%"; height "46%"; }
        pane focus=true { x "2%"; y "3%"; width "47%"; height "94%"; }
    }
    floating_panes max_panes=4 {
        pane { x "51%"; y "3%"; width "47%"; height "45%"; }
        pane { x "51%"; y "50%"; width "47%"; height "46%"; }
        pane { x "2%"; y "3%"; width "47%"; height "45%"; }
        pane focus=true { x "2%"; y "50%"; width "47%"; height "46%"; }
    }
}

swap_floating_layout name="staggered" {
    floating_panes
}
