layout {
    default_tab_template {
        pane size=1 borderless=true {
           plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="pde" cwd="~/.config/zellij/layouts" focus=true {
        pane command="hx" {
            args "pde.kdl"
        }
    }
    tab name="alacritty" cwd="~/.config/alacritty" {
        pane command="hx" {
            args "alacritty.yml"
        }
    }
    tab name="wezterm" cwd="~/.config/wezterm" {
        pane command="hx" {
            args "wezterm.lua"
        }
    }
    tab name="zellij" cwd="~/.config/zellij" {
        pane command="hx" {
            args "--vsplit" "config.kdl" "layouts/default.kdl"
        }
    }
    tab name="helix" cwd="~/.config/helix" {
        pane command="hx" {
            args "--vsplit" "config.toml" "languages.toml"
        }
    }
    tab name="neovim" cwd="~/.config/nvim.balesz" {
        pane command="zsh" {
            args "-c" "NVIM_APPNAME=nvim.balesz nvim init.lua"
        }
    }
    tab name="lazygit" cwd="~/.config/lazygit" {
        pane command="hx" {
            args "config.yml"
        }
    }
}
