layout {
    default_tab_template {
        pane size=1 borderless=true {
           plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="PDE" cwd=".config/zellij/layouts" focus=true {
        pane command="hx" {
            args "pde.kdl"
        }
    }
    tab name="Alacritty" cwd=".config/alacritty" {
        pane command="hx" {
            args "alacritty.yml"
        }
    }
    tab name="WezTerm" cwd=".config/wezterm" {
        pane command="hx" {
            args "wezterm.lua"
        }
    }
    tab name="Zellij" cwd=".config/zellij" {
        pane command="hx" {
            args "--vsplit" "config.kdl" "layouts/default.kdl"
        }
    }
    tab name="Helix" cwd=".config/helix" {
        pane command="hx" {
            args "--vsplit" "config.toml" "languages.toml"
        }
    }
    tab name="Neovim" cwd=".config/nvim.balesz" {
        pane command="hx" {
            args "init.lua"
        }
    }
}
